# Default owner
* @TanvirHosenNishat01-blip

# Machine Learning & AI Model
/ML_Model/ @TanvirHosenNishat01-blip

# Dataset management
/dataset/ @TanvirHosenNishat01-blip

# Backend API
/backend/ @TanvirHosenNishat01-blip

# Frontend Dashboard
/frontend/ @TanvirHosenNishat01-blip

# Documentation
/docs/ @TanvirHosenNishat01-blip

# Testing
/tests/ @TanvirHosenNishat01-blip