# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
dist/
build/

# Machine Learning Models
*.pkl
*.h5
*.joblib

# Track essential production models and preprocessors
!ML_Model/models/best_model.pkl
!ML_Model/models/scaler.pkl
!ML_Model/models/imputer.pkl

# Environment
venv/